fastapi==0.115.5
uvicorn[standard]==0.32.0
pydantic==1.10.15
email-validator==2.1.0
python-dotenv==1.0.1
alembic==1.13.2
psycopg2-binary==2.9.10
firebase-admin==6.4.0
redis==5.0.3
SQLAlchemy[asyncio]==2.0.23
asyncpg==0.29.0
geoalchemy2==0.14.4
sentry-sdk==1.40.6
prometheus-client==0.19.0
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-sqlalchemy==0.42b0
opentelemetry-instrumentation-redis==0.42b0
ruff==0.14.14